body{
    background-color: aqua;
    background-image: url(imagens/nuvens.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

p {
    font-size: 150px;
    text-align: center;
    font-family: Jazz LET,fantasy;
}

#contador {
    font-size: 1.2rem;
}

#title{
    text-align: center;
    font-family: Jazz LET,fantasy;
}

#pombo{
    position: relative;
    display: block;
} 

#palhaco {
    position: relative;
    display: none;
}